body{
    background-color: #F3F8FF;
    font-family:'Segoe UI';
}

.header{
    padding-left: 5%;
    padding-top: 5%;
}

.header p{
	font-size: 32px;
    font-weight: bold;
    color: #7E30E1;
    
    background-clip: content-box;
    display: inline;
}

.settings{
    color: #49108B;
    padding-left: 5%;
    position: absolute;
}

.settings p span{
    font-size: 18px;
    font-weight: bold;
}

.settings p {
	font-size: 16px;
}

input[type="radio"] {
    accent-color: #7E30E1;
}

input[type="radio"]:checked {
    border-color: #000000;
}

input[type="range"] {
	accent-color: #7E30E1;
}

input[type="file"]::file-selector-button {
	background-color: #7E30E1;
	border: none;
	color: #F3F8FF;
	font-size: 16px;
	border-radius: 4px;
}

input[type="button"] {
	background-color: #7E30E1;
	border: none;
	color: #F3F8FF;
	font-size: 16px;
	border-radius: 4px;
}

.output{
    position: absolute;
    top: 5%;
    left: 30%;
}

.output textarea{
    width: 1200px;
    height: 800px;
}

.output label{
    color:white
}
